.fecha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 7rem auto;
}

.cIcon,
.fIcon,
.cloIcon {
  font-size: 4em;
}

.fechaLink {
  font-size: 1.5em;
}
