.regalos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.giftIcon {
  width: 16rem;
}

.regalosC {
  margin-bottom: 5rem;
}
