.reserva {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../Assets/reserva2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.rContainer {
  background-color: #fff;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-align: center;
}

.rWIcon {
  font-size: 10em;
}
