.social {
  padding: 5rem 0;
  height: 95vh;
  background-image: url("../Assets/fondo3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.selfie {
  width: 8rem;
}

@media screen and (min-width: 768px) {
  .selfie {
    width: 15rem;
  }
}
